<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CommentMapper">

    <select id="countComment" resultType="java.lang.Integer">
        select count(order_id) from t_comment where u_id=#{uid} and order_id=#{orderid};
    </select>
</mapper>
